@page
@model Proiect3.Pages.FilterModel
@{
    ViewData["Title"] = "Filter";
}


    <form method="post">
        <input type="text" name="Person" placeholder="Search Person" />
        <input type="text" name="Tag" placeholder="Search Tag" />
        <input type="text" name="Location" placeholder="Search Location" />
        <input type="submit" />
    </form>
