@page
@model Proiect3.Pages.FilterModel
@{
    ViewData["Title"] = "Filter";
}


<form method="post">
    <input type="text" name="Photo Name" placeholder="Photo Name"/>
    <input type="text" name="Photo Path" placeholder="Photo Path"/>
    <input type="submit" />
</form>
